<% layout("/layouts/boilerPlate.ejs") -%>

    <body>
        <br><br>
        <div class="row">
            <div class="col-8 offset-2">
                <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input required type="text" name="title" placeholder="enter title" class="form-control">
                        <div class="valid-feedback">Title looks good</div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea required name="description" placeholder="enter description" class="form-control"></textarea>
                        <div class="invalid-feedback">Description is mandetory</div>
                    </div>
                    

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload Image</label>
                        <input type="file" name="image"class="form-control" required>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input required type="text" name="price" placeholder="enter price" class="form-control">
                            <div class="invalid-feedback">Please enter valid price</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input required type="text" name="country" placeholder="enter country" class="form-control">
                            <div class="invalid-feedback">Please enter the country name</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input required type="text" name="location" placeholder="enter location" class="form-control">
                        <div class="invalid-feedback">Location shoud be valid</div>
                    </div>


                    <br><br>
                    <button class="btn btn-dark add-btn">add</button>
                    <br><br>
                </form>
            </div>
        </div>
    </body>