body{
    min-height:100vh;
    display: flex;
    flex-direction: column;
  }

.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-plane{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color:#222222 !important;
}


.f-info-link a{
    text-decoration: none;
    color: #222222;
}

.f-info-link a:hover{
    text-decoration: underline;
}
.f-info{
    display: flex;
    height: 8rem;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.f-info-socials i{
    font-size: 1.2rem;
}
.fa-facebook{
    color: #1877F2;
}

.fa-square-instagram{
    color: rgb(225 48 108);
}
.fa-x-twitter{
    color: #1da1f2;
}
.fa-linkedin{
    color: #0077B5;
}
.list-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0px;
}
.card-text{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn,.edit-btn{
    background-color: #fe424d;
    border: none !important;
}

.show{
    width:40%;
    display:flex;
    flex-direction: column;
}

.btn-edit{
    width:70px;
    margin-right:7px;
    background-color: #2ecc71 ;
}
.btn-edit a{
    text-decoration:none;
    border: none !important;
    color: white;
}
.btns{
    display:flex;   
}
.main-container{
    display: flex;
    height:100%;
    width:100%;
    justify-content: center;
    align-items:center;
}
.btn-delete{
    background-color: #e74c3c;
    border:none;
}

#filters{
    display: flex;
    flex-wrap: wrap;
}

.filter{
    text-align: center;
    margin-top: 2rem;
    margin-left:2rem;
    opacity: 0.7;
    cursor: pointer;
}

.filter:hover{
    opacity: 1;
    cursor: pointer;
    border-bottom:2px solid black;
}

.tex-info{
    display: none;
}

.tex-switch{
    border: 1px solid black;
    border-radius: 1rem;
    padding:1rem;
    margin-top:1.9rem;
    margin-left:5rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
}

.search{
    margin:auto;
    margin-right:5rem;
}

.btn-search{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding:0 1rem 0 1rem;
}
.btn-search:hover{
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding:0 1rem 0 1rem;
}

.btn-search i{
    display: inline;
    margin-right: 0.5rem;
}

.search-inp{
    border-radius: 25px;
    padding:0.5rem 3rem 0.5rem 3rem;
}